@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: auto;
  background-position: bottom;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  background: #9a3324 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigation .btnHome{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
  transition: .5s;
}

.navigation .btnHome:hover{
  background: #fff;
  color: #162938;
}

nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
  float: right;
}

.nav-item{
  position: relative;
  top: 12px;
  margin-left: 0px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



main {
  padding: 20px 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #9a3324;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input:disabled {
  background-color: #eee;
}

.btn-update{
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  background-color: #9a3324;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.btn-update:hover {
  background-color: #fa0000;
}



.pict{
  max-width: 100%;
  height: auto;
  position: absolute;
  pointer-events: none;
}

.fed2{
  max-width: 100%;
  width: 350px;
  position: relative;
  top: -200px;
  left: -600px;
}

